country-info/src/main/mule/country-info.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="920385bf-cd69-4121-a090-7f7efd499399" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="ad0947b6-6b54-46e6-892a-e3c2173adc74" >
		<wsc:connection wsdlLocation="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" service="CountryInfoService" port="CountryInfoServiceSoap" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7df2bdfd-d869-4c7f-8e60-c68fbb4b9a3d" >
		<http:request-connection protocol="HTTPS" host="webservices.oorsprong.org" />
	</http:request-config>
	<flow name="country-infoFlow" doc:id="dcc02460-b44d-46ae-860d-5bf51314cef7" >
		<http:listener doc:name="Listener" doc:id="40d4f76f-4f8c-4af5-b077-88466cbdfd8c" path="/getCountriesByContinent" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Prepare request for country contenet" doc:id="825b9349-8eed-40e6-b280-ab396e55a1a0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns web http://www.oorsprong.org/websamples.countryinfo
---
{
    soapenv#Envelope:{
        soapenv#Body:{
            web#ListOfCountryNamesGroupedByContinent:{

            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="ListOfCountryNamesGroupedByContinent" doc:id="5218c4b1-5b4a-441d-8753-7dd71a6860e4" config-ref="HTTP_Request_configuration" url="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL">
			<http:headers ><![CDATA[#[output application/java
---
{
	"SOAPAction" : "",
	"Content-type" : "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f8541dcd-7f82-468f-9a9d-3ae5c2fb4762" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="country-infoFlow1" doc:id="6d071d08-97d1-46b2-9fd1-64f82b49f2db" >
		<http:listener doc:name="Listener" doc:id="6220b369-e77a-4b69-8440-decc1c903d26" config-ref="HTTP_Listener_config" path="/getContinentAndReqContries"/>
		<ee:transform doc:name="Prepare for GetCounrty by component" doc:id="5efb863e-23cc-410b-8d07-5c62678a70c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns web http://www.oorsprong.org/websamples.countryinfo
---
{
    soapenv#Envelope:{
        soapenv#Body:{
            web#ListOfCountryNamesGroupedByContinent:{

            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="request to ListOfCountryNamesGroupedByContinent" doc:id="cd78ec9e-ae4a-4a24-be27-ee5792655972" config-ref="HTTP_Request_configuration" url="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"SOAPAction" : "",
	"Content-type" : "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b4ccc637-4e20-4103-87a4-77562594553a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
using(tData=payload..*tCountryCodeAndNameGroupedByContinent)
using(t1Data=tData map ((item, index) -> {
    Continent: item.Continent.sName,
    countries: item.CountryCodeAndNames..sName
}))
using(Africa=t1Data filter ((item, index) -> item.Continent ~="Africa                             "))
//Africa..countries[0] filter $ == "Cameroon"
using(America=t1Data filter ((item, index) -> item.Continent ~="The Americas                       "))
//America..countries[0] filter $ == "Suriname"
using(Asia=t1Data filter ((item, index) -> item.Continent ~="Asia                               "))
using(Asian=Asia..countries[0] filter $ == "India" or $ == "Mongolia")
using(Europe=t1Data filter ((item, index) -> item.Continent ~="Europe                             "))
using(EuropianCountry=Europe..countries[0] filter $ == "Belarus" or $ == "Hungary" or $ == "Germany" )
{
    Africa: Africa..countries[0] filter $ == "Cameroon",
    America: America..countries[0] filter $ == "Suriname",
    Asia: Asian,
    Europe: EuropianCountry
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="country-infoFlow2" doc:id="206ec715-ebe2-43be-af30-033c2743f15c">
		<http:listener doc:name="Listener" doc:id="b28d3eb0-f1ae-40a3-a2de-80c9fa19408e" config-ref="HTTP_Listener_config" path="/getFullContryInfo" />
		<ee:transform doc:name="Transform Message" doc:id="25a6879f-064a-4288-a9f2-4113e6683a85">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
["CM","SR","IO","MN","BY","DE","HU"]]]></ee:set-payload>
				</ee:message>
			<ee:variables >
				<ee:set-variable variableName="finalPayload" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
			</ee:transform>
		<foreach doc:name="For Each" doc:id="31d524de-4a02-48bc-8d9d-88d946a40adb" >
			<ee:transform doc:name="Transform Message" doc:id="0cf519ad-f72f-4ebc-b56a-3c79824450fd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns web http://www.oorsprong.org/websamples.countryinfo
---
{
    soapenv#Envelope:{
        soapenv#Body:{
            web#FullCountryInfo:{
                sCountryISOCode: payload
            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<http:request method="POST" doc:name="Get FullCounrty info" doc:id="1c6d0a8e-5143-4419-a64d-e9e8835abe0e" config-ref="HTTP_Request_configuration" url="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL">
			<http:headers><![CDATA[#[output application/java
---
{
	"SOAPAction" : "",
	"Content-type" : "text/xml"
}]]]></http:headers>
		</http:request>
			<ee:transform doc:name="Transform Message" doc:id="0388911b-f03f-46fd-beae-2a545dd5dcd0" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="finalPayload" ><![CDATA[output application/json
--- 
vars.finalPayload + payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="9932a8ee-dc6c-4bd1-93b1-fd0f647a4aa1" message="ContryInfo is :: #[payload]"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="67945008-9afb-4422-ae3a-da9f18f12ddf">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.finalPayload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
	</flow>
	<flow name="country-infoFlow3" doc:id="b1120965-e35c-45b2-8008-211698b82c8b" >
		<http:listener doc:name="Listener" doc:id="1ae86059-46df-4f0a-9470-7d392c4c86d5" config-ref="HTTP_Listener_config" path="/getCountryWithUSD"/>
		<ee:transform doc:name="Transform Message" doc:id="8bd27e6b-6ff9-4cc0-b1d9-d216b2a0f627" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns web http://www.oorsprong.org/websamples.countryinfo
---
{
    soapenv#Envelope:{
        soapenv#Body:{
            web#FullCountryInfoAllCountries:{

            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="request to Full counrty info" doc:id="679b708d-ea65-498a-bb11-3b578d471655" config-ref="HTTP_Request_configuration" url="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"SOAPAction" : "",
	"Content-type" : "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3cf3b746-8328-4fc7-9ab8-552b912e3d4c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload..*tCountryInfo filter ((item, index) -> item.sCurrencyISOCode == "USD")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="country-infoFlow4" doc:id="b4b95933-6060-4c82-b355-777d54ad0d9d" >
		<http:listener doc:name="Listener" doc:id="52c3ad85-08b9-488d-803b-cd9542e04b84" config-ref="HTTP_Listener_config" path="/getFrenchCountry"/>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="85208d5f-a280-4dd5-8684-0b5e56b3696a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns web http://www.oorsprong.org/websamples.countryinfo
---
{
    soapenv#Envelope:{
        soapenv#Body:{
            web#FullCountryInfoAllCountries:{

            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Copy_of_Request" doc:id="822099ec-48af-480e-97cd-5c4dd13970e9" config-ref="HTTP_Request_configuration" url="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"SOAPAction" : "",
	"Content-type" : "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="ca85ca68-f563-4ca0-bff4-271b80a04a03" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
//payload.Envelope.Body.
payload..*tCountryInfo filter ((item, index) -> item.Languages.tLanguage.sName == "French")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
